@import '@milkdown/kit/prose/gapcursor/style/gapcursor.css';
@import 'prosemirror-virtual-cursor/style/virtual-cursor.css';

.milkdown .crepe-drop-cursor {
    box-sizing: border-box;
    border-radius: 999px;
    background-color: var(--vscode-editorCursor-foreground, var(--crepe-color-primary));
    box-shadow:
      0 0 0 1px color-mix(in srgb, var(--md-editor-background), transparent 20%),
      0 0 0 4px color-mix(in srgb, var(--vscode-editorCursor-foreground, var(--crepe-color-primary)), transparent 70%);
    opacity: 1;
    transition:
      width 90ms ease,
      height 90ms ease,
      transform 90ms ease,
      opacity 90ms ease;
    pointer-events: none;
    z-index: 1003;
  }

.milkdown .ProseMirror-gapcursor:after {
    box-sizing: border-box;
    border-top: 1px solid var(--crepe-color-on-background);
  }

.milkdown .ProseMirror-focused {
    --prosemirror-virtual-cursor-color: var(--crepe-color-outline);
  }
